[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
response = "*"
sqlalchemy = "*"
rikeripsum = {path = "C:/Users/trezendes/projects/clones/rikeripsum"}
flask-wtf = "*"
flask-sqlalchemy = "*"
pyowm = "*"
googlemaps = "*"

[dev-packages]

[requires]
python_version = "3.10"
